body{
    background-image: url('Desert.jpg');
    background-position-x: center;
    background-size: cover;
}
.topbar{
    background-color: rgb(28, 129, 212);
    width: 100%;
    height: 62px;
    opacity: 80%;
}